
header {
  width: 100%;
  height: 150px;
  background: black;
}

.reserva{
    margin-bottom: 70px;
    margin-top: 70px;
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: grey;
}

nav ul button {
  border: 1px solid white;
  background: transparent;
  padding: 10px 38px;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

nav ul button:hover {
  transition: background, color 0.6s;
  background: grey;
  color: white;
}

*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}

body{
  margin:10px;
}

a{
  text-decoration: none;
}

a.links{
  display: none;
}

.container{
  width: 500px;
  margin: 120px auto;
  position: relative; 
}

h1{
  font-size: 48px;
  color: gray;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

p{
  margin-bottom:15px;
}

p:first-child{
  margin: 0px;
}

input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;  
  border: 1px solid #b2b2b2;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: #c2c2c2;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff; 
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #fff;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
}

input[type="submit"]:hover{
  background: gray;
}

#reserva{
  position: absolute;
  top: 0px;
  width: 88%; 
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


footer {
  width: 100%;
  height: 250px;
  margin-top: 700px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: black;
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-empresa,
.footer-aluguel,
.footer-contato,
.footer-conectado {
  color: white;
  height: 100%;
  min-height: 100px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-conectado img {
  width: 32px;
  height: 32px;
}

footer .parte-baixo {
  width: 100%;
  height: 50px;
  background: #c2c2c2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
